@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&family=Inter:wght@300;400;600&display=swap');

:root {
    --primary: #9333EA;
    --secondary: #06B6D4;
    --bg: #0F172A;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: white;
    scroll-behavior: smooth;
}

h1, h2, h3 { 
    font-family: 'Space Grotesk', sans-serif; 
}